.profile-container{
    
    margin: auto;
    >h1, p{
        
        width: 50%;
        background: #e7e7e7;
        height: 32px;
        line-height: 31px;
        border-radius: 52px;
        padding-left: 12px;
        margin: auto;
        margin-top: 9px;
        color: black;
    }
}